/* Google Font Added */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700;900&display=swap');

:root {
    --primary-color: #A4BC46;
    --header-bg-color: #FFFBF0;
    --heading-color: #363958;
    --text-color: #3E3E3E;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: var(--text-color);
    background-color: #fff;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 100px;
    color: var(--heading-color);
}
h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    line-height: 60px;
    color: var(--heading-color);
}
h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: var(--heading-color);
}

/*--------------------------
Common CSS  
 ---------------------------*/


/*--------------------------
Header Area CSS  
 ---------------------------*/
 .header-area{
    background-color: var(--header-bg-color);
 }
 .navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 25px;
 }
 .navbar-light .navbar-nav .nav-link {
     font-weight: 700;
     color: var(--heading-color);
 }
 .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link:hover {
     color: var(--primary-color);
 }


                     



